<a href="https://colab.research.google.com/github/Anggiboy/Pejuang_Data3/blob/main/M2P2V3_Konversi_Struktur_M2P2V4_String_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Konversi Struktur Data

Mengkonversi tipe data list:

In [9]:
#membuat 2 list
L1 = [1, 2, 3, 4] 
L2 = [5, 6, 7, 8]

In [10]:
 # Mengkonversi struktur data list
k_tuple = tuple(L1) 
k_set = set(L2) 
k_dict = dict(zip(L1, L2)) 
# Melihat data yang telah dikonversi 
print(k_tuple) 
print(k_set) 
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data tuple:

In [11]:
# Membuat dua tuple
T1 = (1, 2, 3, 4) 
T2 = (5, 6, 7, 8)
# Mengkonversi struktur data tuple 
k_list = list(T1) 
k_set = set(T2) 
k_dic = dict(zip(T1, T2)) 
# Melihat data yang telah dikonversi 
print(k_list) 
print(k_set) 
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data set:

In [12]:
# Membuat dua set
S1 = {1, 2, 3, 4} 
S2 = {5, 6, 7, 8}

In [13]:
#Mengkonversi struktur data set
k_list=list(S1)
k_tuple=tuple(S2)
k_dict=dict(zip(S1,S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

Mengkonversi tipe data list

In [14]:
#membuat dictionary
D={
    "nama":"Andi",
    "alamat":"Yogyakarta",
    "umur":20
}

In [15]:
#Mengkonversi struktur data dictionary dari key dan value nya
k_list=list(D.keys())
k_tuple=tuple(D.values())
k_set=set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

Latihan

In [16]:
#lakukan konversi struktur data yang kalian buat pada notebook-notebook sebelumnya 
#menjadi list,tuple, set, dan dictionary (masing-masing satu)

# Mengkonversi struktur data list
L2=["a","anggi",100]
L3=[20,40,60,80,100]
k_tuple = tuple(L2) 
k_set = set(L3) 
k_dict = dict(zip(L2, L3)) 

# Melihat data yang telah dikonversi 
print(k_tuple) 
print(k_set) 
print(k_dict)

('a', 'anggi', 100)
{100, 40, 80, 20, 60}
{'a': 20, 'anggi': 40, 100: 60}

In [17]:
# Membuat dua tuple
T4=(20,"Seratus",3+3j,True)
T5=(7.5,"lima puluh",False)
# Mengkonversi struktur data tuple 
k_list = list(T4) 
k_set = set(T5) 
k_dic = dict(zip(T4, T5)) 
# Melihat data yang telah dikonversi 
print(k_list) 
print(k_set) 
print(k_dict)

[20, 'Seratus', (3+3j), True]
{False, 'lima puluh', 7.5}
{'a': 20, 'anggi': 40, 100: 60}

In [18]:
# Membuat dua set
S1 = {20, 30, 10, 90} 
S2 = {20,"lima puluh",True,False,"lima puluh",2+3j,False}

#Mengkonversi struktur data set
k_list=list(S1)
k_tuple=tuple(S2)
k_dict=dict(zip(S1,S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[10, 20, 90, 30]
(False, True, 'lima puluh', (2+3j), 20)
{10: False, 20: True, 90: 'lima puluh', 30: (2+3j)}

In [19]:
#membuat dictionary
D={4:'value','key':20}
#Mengkonversi struktur data dictionary dari key dan value nya
k_list=list(D.keys())
k_tuple=tuple(D.values())
k_set=set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

[4, 'key']
('value', 20)
{4, 'key'}

#  Data String

In [20]:
#Menampilkan string dengan fungsi print()
print("Hello World!")

Hello World!

In [21]:
#Membuat variabel bertipe string
A="Belajar struktur data string"
print(A)

Belajar struktur data string

In [22]:
# Membuat variabel string multi-line dengan 3 tanda petik
B = """Belajar Python
Pejuang data 3.0
PSDS
String"""
print(B)

Belajar Python
Pejuang data 3.0
PSDS
String

In [23]:
#Menampilkan karakter tertentu dalam string
print(A[2])

l

In [24]:
#Slicing pada string
A="Belajar struktur data string"
print(A[:5])
print(A[3:])
print(A[-5:])
print(A[4:9])

Belaj
ajar struktur data string
tring
jar s

In [27]:
# Buatlah variabel string lalu lakukan slicing dengan menghilangkan karakter pertama dan terakhir
D="Anggiboy mengendarai motor"
print(D[1:25])

nggiboy mengendarai moto

Modifikasi String

In [28]:
A="anggiboy membeli ninja"
#upper()
A.upper()

'ANGGIBOY MEMBELI NINJA'

In [29]:
#lower()
A.lower()

'anggiboy membeli ninja'

In [30]:
#strip()
A.strip()

'anggiboy membeli ninja'

In [31]:
#replace()
A.replace('l','c')

'anggiboy membeci ninja'

In [32]:
#split()
A.split()

['anggiboy', 'membeli', 'ninja']

Menggabungkan String

In [33]:
A="Belajar struktur data string"
B="Pejuang Data 3.0"
A + " " + B

'Belajar struktur data string Pejuang Data 3.0'

Latihan 2

In [43]:
# Ganti semua huruf vokal menjadi "i" pada string yang telah kalian buat pada Latihan 1
D="Anggiboy mengendarai motor"
J=D[0:6]
K= J.replace('A','i')
Z=D[6:8]
X= Z.replace('o','i')
E= D[9:20]
F= E.replace('e','i')
G= D[21:26]
H=G.replace('o','i')
K+ X + " " + F + " " + H

'inggibiy mingindarai mitir'