<a href="https://colab.research.google.com/github/Anggiboy/Pejuang_Data3/blob/main/struktur_data_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Contoh tuple
T1=(1,"dua",True,1+2j)
print("ini adalah Tuple:",T1)

ini adalah Tuple: (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [3]:
# Latihan
# Buatlah Tuplemu Sendiri
T2=(20,"Sembilan",7+9j,True)
print("ini adalah tuple:",T2)

ini adalah tuple: (20, 'Sembilan', (7+9j), True)

In [5]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [6]:
#Tidak Bisa Diganti/Mutable
T1[2]="Manusia"

TypeError: ignored

In [7]:
#Dapat Diindeks/Slicing
print("Elemen kedua dari tuple T1",T1[1])

Elemen kedua dari tuple T1 dua

In [8]:
#Dapat Diijinkan duplikasi
T2 = (3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

In [9]:
#Menggabungkan tuple
T3=T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [10]:
#Latihan 2
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
T4=(10,"Sembilan",9+9j,True)
T5=(35.9,"Tujuh",False)
T6=T4+T5
T6

(10, 'Sembilan', (9+9j), True, 35.9, 'Tujuh', False)